.search-container {
  padding: 12px 0;
}

ion-list {
  min-height: 100%;
  background: #FAFAFA;

  .removeBorder {
    border-bottom: none;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-button {
      --border-radius: 30px;
      --box-shadow: none;
      width: 80px;

      ion-label {
        font-size: 9px;
        font-weight: 700;
        padding: 0;
      }
    }
  }
}
