* {
  font-family: 'Raleway', sans-serif;
}

ion-tab-bar {
  height: 10%;

  ion-icon {
    color: #989aa2;
    font-size: 40px;
  }

  ion-label {
    font-size: 8px;
    font-weight: bold;
    color: #989aa2;
  }
}
