<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dapps">
      <ion-label>Discover</ion-label>
      <ion-icon name="appstore"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-label>Categories</ion-label>
      <ion-icon name="albums" ios="ios-albums"></ion-icon>
    </ion-tab-button>

   <!--  // Change to different tab in futute updates
     <ion-tab-button tab="search">
      <ion-label>Search</ion-label>
      <ion-icon name="search"></ion-icon>
    </ion-tab-button> 
    -->
  </ion-tab-bar>
</ion-tabs> 