<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-label>Home</ion-label>
      <ion-icon name="Home" mode="ios"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="dapps">
      <ion-label>Capsules</ion-label>
      <ion-icon name="apps"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-label>Categories</ion-label>
      <ion-icon name="apps" mode="ios"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-label>Search</ion-label>
      <ion-icon name="search" mode="ios"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
