<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-label>{{ 'home' | translate }}</ion-label>
      <ion-icon name="Home" mode="ios"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="dapps">
      <ion-label>{{ 'capsules' | translate }}</ion-label>
      <ion-icon name="apps"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-label>{{ 'cats' | translate }}</ion-label>
      <ion-icon name="apps" mode="ios"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-label>{{ 'search' | translate }}</ion-label>
      <ion-icon name="search" mode="ios"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
