ion-list {
  background-image: linear-gradient(to right, #e6e9f0 0%, #325169 100%);
  min-height: 100%;

  ion-searchbar {
    padding: 0 5px;
  }

  ion-row {
    border-bottom: solid 0.5px black;
    border-radius: 10px;
    margin: 4px;
    box-shadow: inset 0px 0px 1px 1px black;
    box-shadow: 0px 0px 2.5px 0px black;
    background-color: white;
    opacity: 0.8;
  }

  ion-img {
    border-radius: 10px;
  }

  h2 {
    font-weight: bold;
    font-size: 19px;
    padding-left: 2.5px;
  }

  p {
    font-size: 13px;
    padding-left: 2.5px;
  }
}

// For non-native devices
.dapp:hover,
.dapp:active {
  transform: scale(1.01);
  transition: transform 200ms ease-in-out;
}