<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-card
        class="category"
        [routerLink]="[
          '/', 
          'store', 
          'tabs', 
          'categories', 
          'Finance'
        ]"
        >
          <ion-img src="/../../../assets/category-images/finance.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Finance</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          class="category"
          [routerLink]="[
            '/', 
            'store', 
            'tabs', 
            'categories', 
            'Business'
          ]"
        >
          <ion-img src="/../../../assets/category-images/business.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Marketplace</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          class="category"
          [routerLink]="[
            '/', 
            'store', 
            'tabs', 
            'categories', 
            'Lifestyle'
          ]"
        >
          <ion-img src="/../../../assets/category-images/lifestyle.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Lifestyle</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          class="category"
          [routerLink]="[
            '/', 
            'store', 
            'tabs', 
            'categories', 
            'Entertainment'
          ]"
        >
          <ion-img src="/../../../assets/category-images/entertainment.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Entertainment</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          class="category"
          [routerLink]="[
            '/', 
            'store', 
            'tabs', 
            'categories', 
            'Games'
          ]"
        >
          <ion-img src="/../../../assets/category-images/game.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Games</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          class="category"
          [routerLink]="[
            '/', 
            'store', 
            'tabs', 
            'categories', 
            'Casino'
          ]"
        >
          <ion-img src="/../../../assets/category-images/casino.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Casino</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          class="category"
          [routerLink]="[
            '/', 
            'store', 
            'tabs', 
            'categories', 
            'Social'
          ]"
        >
          <ion-img src="/../../../assets/category-images/social.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Social</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          class="category"
          [routerLink]="[
            '/', 
            'store', 
            'tabs', 
            'categories', 
            'Utility'
          ]"
        >
          <ion-img src="/../../../assets/category-images/utility.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Utility</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
