<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="closeApp()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-card
        class="category"
        [routerLink]="[
          '/', 
          'store', 
          'tabs', 
          'categories', 
          'finance'
        ]"
        >
         <!--  <ion-img src="/../../../assets/category-images/finance.jpg"></ion-img> -->
          <ion-card-header>
            <ion-card-title>Finance</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          class="category"
          [routerLink]="[
            '/', 
            'store', 
            'tabs', 
            'categories', 
            'business'
          ]"
        >
          <!-- <ion-img src="/../../../assets/category-images/business.jpg"></ion-img> -->
          <ion-card-header>
            <ion-card-title>Business</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          class="category"
          [routerLink]="[
            '/', 
            'store', 
            'tabs', 
            'categories', 
            'lifestyle'
          ]"
        >
         <!--  <ion-img src="/../../../assets/category-images/lifestyle.jpg"></ion-img> -->
          <ion-card-header>
            <ion-card-title>Lifestyle</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          class="category"
          [routerLink]="[
            '/', 
            'store', 
            'tabs', 
            'categories', 
            'entertainment'
          ]"
        >
         <!--  <ion-img src="/../../../assets/category-images/entertainment.jpg"></ion-img> -->
          <ion-card-header>
            <ion-card-title>Entertainment</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          class="category"
          [routerLink]="[
            '/', 
            'store', 
            'tabs', 
            'categories', 
            'games'
          ]"
        >
         <!--  <ion-img src="/../../../assets/category-images/game.jpg"></ion-img> -->
          <ion-card-header>
            <ion-card-title>Games</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          class="category"
          [routerLink]="[
            '/', 
            'store', 
            'tabs', 
            'categories', 
            'casino'
          ]"
        >
         <!--  <ion-img src="/../../../assets/category-images/casino.jpg"></ion-img> -->
          <ion-card-header>
            <ion-card-title>Casino</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          class="category"
          [routerLink]="[
            '/', 
            'store', 
            'tabs', 
            'categories', 
            'social'
          ]"
        >
         <!--  <ion-img src="/../../../assets/category-images/social.jpg"></ion-img> -->
          <ion-card-header>
            <ion-card-title>Social</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          class="category"
          [routerLink]="[
            '/', 
            'store', 
            'tabs', 
            'categories', 
            'utility'
          ]"
        >
          <!-- <ion-img src="/../../../assets/category-images/utility.jpg"></ion-img> -->
          <ion-card-header>
            <ion-card-title>Utility</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          class="category"
          [routerLink]="[
            '/', 
            'store', 
            'tabs', 
            'categories', 
            'music'
          ]"
        >
          <!-- <ion-img src="/../../../assets/category-images/utility.jpg"></ion-img> -->
          <ion-card-header>
            <ion-card-title>Music</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          class="category"
          [routerLink]="[
            '/', 
            'store', 
            'tabs', 
            'categories', 
            'travel'
          ]"
        >
          <!-- <ion-img src="/../../../assets/category-images/utility.jpg"></ion-img> -->
          <ion-card-header>
            <ion-card-title>Travel</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          class="category"
          [routerLink]="[
            '/', 
            'store', 
            'tabs', 
            'categories', 
            'productivity'
          ]"
        >
          <!-- <ion-img src="/../../../assets/category-images/utility.jpg"></ion-img> -->
          <ion-card-header>
            <ion-card-title>Productivity</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
     
  </ion-grid>
</ion-content>
  