<ion-header no-border>
    <ion-toolbar mode="ios">
      <ion-buttons slot="end" class="header-btns">
        <ion-menu-toggle>
          <ion-icon src="../assets/icon/menu.svg"></ion-icon>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title>About</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
      <ion-card-content>
        <div text-center padding>
          <strong>Why choose <br> elastOS applications?</strong>

          <hr>
          The internet has become vulnerable to centralization and monetization
          at the hands of powerful entities. They have all rights to decide what applications people are allowed to use
          and in return, they take your data, making you the product of their operations.

          <hr>
          Granted, the way we utilize
          applications on a day to day basis, it’s safe to assume that most (if not all) of what you do is recorded
          and collected in some way. Once you install an application on your device, you have given rights
          to central entities who control them to hoard your data and monitor your behavior.
          It may seem trivial to many but your data
          is precious in the 21st century and there are entities out there that want more of it.
          And since all data are connected
          through a centralized server, it makes it easier for others to steal your information as well,
          leaving your identity, privacy and security vulnerable in an uncertain virtual world.

          <hr>
          So how can we ensure
          data privacy without losing out on the Internet’s utility? That answer doesn’t lie in a company or government, but
          rather in the structure of the Internet itself. Here’s where Elastos comes into place. The fact is, it’s easier to
          keep data and other files secure on a decentralized server than on a centralized one. As an alternative, data
          in elastOS are distributed and stored offline across a myriad of
          computers known as nodes connected through a peer-to-peer network, mitigating the risk of a
          single-entry point and making data less accessible. A decentralized network can even avoid holding sensitive
          information altogether by allowing users to hold a unique, digital identity to store data on the platform but is
          only retrievable by the rightful owners, taking trust completely out of the equation.

          <hr>
          Decentralized applications doesn’t
          just mean more protection for your personal data, it also puts power back into the hands of Internet users, allowing
          them to have complete control over the information they give and receive. By eliminating the bias of ad-based data
          centralization models that use your personal data against you, Elastos created a self-governing environment that
          will help shape the Internet back into the community it once was rather than the business it’s become.

          <hr>
          This is why
          elasOS exist, to create a true democracy on the internet, allowing developers to publish their apps at the consent of the people rather than
          the central entities trying to control it. It’s time
          the people start recognizing the important role decentralization will play in the future because
          if there’s one thing we can learn from internet goliaths, it’s that current online standards
          aren’t sustainable in today’s offline world.
        </div>

      </ion-card-content>
</ion-content>
