<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>About Trinity Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card text-center>
      <ion-card-content>
        Elastos Trinity DApp Store is your one-stop shop for finding the latest dApps available inside the Elastos ecosystem.
        The key difference between the applications available here and what you will find in any other app store is
        Elastos' gaurantee of 100% security and privacy. All Elastos applications are fully decentralized, thus giving you 
        the freedom to use the web as you should without the worries of data theft and third parties monetizing your data
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
    