* {
  font-family: 'Raleway:600', sans-serif;
}

ion-grid {

  ion-row {
    .img-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      ion-thumbnail {
        border-radius: 15px !important;
        border: solid 1px black;

        ion-img {
          border-radius: 15px;
        }
      }
    }

    .dapp-content {
      h1 {
        margin: 5px 0;
        font-size: 16px;
      }

      p {
        margin: 5px 0;
        font-size: 9px;
        color: #ADB3BD;
      }
    }
  }
}
