ion-grid {
  padding-top: 0;

  p {
    color: #ADB3BD;
  }

  ion-row {
    margin-left: 10px;
    margin-right: 10px;

    .img-container {
      display: flex;
      align-items: center;

      img {
        border-radius: 15px !important;
        overflow: hidden;
        border: solid 1px black;
        height: 48px;
        width: 48px;
      }
    }

    .dapp-content {
      padding: 0;
      display: flex;
      align-items: center;

      h2 {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
      }

      p {
        margin: 0;
        font-size: 9px;
        font-weight: 500;
        line-height: 12px;
      }
    }

    .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;

      ion-button {
        --border-radius: 30px;
        --box-shadow: none;
        width: 100%;
        height: 40px;

        ion-label {
          font-size: 12px;
          padding: 0 5px;
          font-weight: 700;

          ion-spinner {
            color: #007AFF;
          }
        }
      }
    }

    .section {
      h2 {
        font-size: 16px;
        margin: 0;
        font-weight: 700;
      }
    }

    .app-description {
      p {
        margin: 0;
        font-size: 12px !important;
        font-weight: 600;
      }
    }

    .app-banner {
      img {
        margin: 0;
        padding: 0;
        border-radius: 15px;
        overflow: hidden;
      }
    }
  }

  .details {
    justify-content: space-between;
    border-bottom: 1px solid rgb(216, 216, 216);
    margin-left: 15px;
    margin-right: 15px;

    h4 {
      font-size: 12px !important;
      font-weight: 600;
      margin: 16px 0;
    }

    p {
      font-size: 12px !important;
      font-weight: 600;
      margin: 16px 0;
    }
  }
}
