<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons
      slot="start"
      padding
      class="header-btns"
      [routerLink]="[
      '/',
      'store',
      'tabs',
      'dapps'
      ]"
    >
      <ion-icon name="arrow-back" mode="ios"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" class="header-btns">
      <ion-menu-toggle>
        <ion-icon src="../assets/icon/menu.svg"></ion-icon>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid padding>

    <ion-row>
      <ion-col size="2.5" class="img-container">
        <img-loader *ngIf="dappIcon" useImg><img [src]="dappIcon"></img-loader>
        <img-loader *ngIf="!dappIcon" useImg><img src="/../../../assets/store/appbanner.jpg"></img-loader>
      </ion-col>
      <ion-col size="9.5" class="dapp-content" align-items-center>
        <ion-label>
          <h2>{{ dapp.appName }}</h2>
          <p>{{ dapp.appShortDescription }}</p>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row padding-top>
      <ion-col size="12" class="btn-container">

        <ion-button  color="tertiary" (click)="installApp(dapp)" *ngIf="!dapp.installing && !dapp.installed">
          <ion-label>Install</ion-label>
        </ion-button>

        <ion-button color="tertiary" (click)="startApp(dapp.packageName)" *ngIf="!dapp.installing && dapp.installed && !dapp.updateAvailable">
          <ion-label>Open</ion-label>
        </ion-button>

        <ion-button color="tertiary" (click)="installApp(dapp)" *ngIf="!dapp.installing && dapp.installed && dapp.updateAvailable">
          <ion-label>Update</ion-label>
        </ion-button>

        <ion-button color="tertiary" *ngIf="dapp.installing">
          <ion-label>
            <ion-spinner name="dots"></ion-spinner>
          </ion-label>
        </ion-button>

      </ion-col>
    </ion-row>

    <ion-row padding-top>
      <ion-col size="12" class="section">
        <h2>Description</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="app-description">
        <p>{{ dapp.appDescription }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="app-banner">
        <img-loader *ngIf="dappBanner" useImg><img [src]="dappBanner"></img-loader>
        <img-loader *ngIf="!dappBanner" useImg><img src="/../../../assets/store/appbanner.jpg"></img-loader>
      </ion-col>
    </ion-row>

    <ion-row padding-top>
      <ion-col size="12" class="section">
        <h2>App Details</h2>
      </ion-col>
    </ion-row>

    <ion-row class="details">
      <h4>Category</h4>
      <p>{{ dapp.category.charAt(0).toUpperCase() + dapp.category.slice(1) }}</p>
    </ion-row>

    <ion-row class="details">
      <h4>Published</h4>
      <p>{{ dapp.createdAt.slice(0, 10) }}</p>
    </ion-row>

    <ion-row class="details">
      <h4>Version</h4>
      <p>{{ dapp.versionName }}</p>
    </ion-row>

    <ion-row class="details">
      <h4>Downloads</h4>
      <p>{{ dapp.downloadsCount }}</p>
    </ion-row>

    <ion-row padding-top>
      <ion-col size="12" class="section">
        <h2>Developer Details</h2>
      </ion-col>
    </ion-row>

    <ion-row class="details">
      <h4>Author</h4>
      <p>{{ dapp.authorName }}</p>
    </ion-row>

    <ion-row class="details">
      <h4>Website</h4>
      <p><a href="{{ dapp.authorWebsite }}"> {{ dapp.authorWebsite }}</a></p>
    </ion-row>

  </ion-grid>
</ion-content>
