<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="store/tabs/dapps">
      </ion-back-button>
    </ion-buttons>
    <!-- 
    <ion-buttons slot="end">
      <ion-button (click)="installApp(dapp)">
        <ion-icon name="arrow-round-down" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons> 
    -->
    <ion-title>{{ dapp.appName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="container">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col size="8.5" size-lg="10.8">
                  <ion-card-title>{{ dapp.appName }}</ion-card-title>
                  <ion-card-subtitle>{{ dapp.appShortDescription }}</ion-card-subtitle>
                  <p class="category">
                    {{ dapp.category.charAt(0).toUpperCase() + dapp.category.slice(1) }}
                  </p>
                  <p class="version-downloads">
                    v<strong>{{ dapp.versionName }}</strong> / 
                    <strong>{{ dapp.downloadsCount }}</strong> Downloads
                  </p>
                  <p>Published <strong>{{ dapp.createdAt.slice(0, 10) }}</strong></p>
                </ion-col>
                <ion-col size="3.5" size-lg="1.2">
                  <ion-button (click)="installApp(dapp)" *ngIf="!installing">Install</ion-button>
                  <ion-button (click)="installApp(dapp)" *ngIf="installing">
                    <ion-spinner name="bubbles"></ion-spinner>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
          <ion-img *ngIf="dappBanner" [src]="dappBanner"></ion-img>
          <ion-img *ngIf="!dappBanner" src="/../../../assets/store/appbanner.jpg"></ion-img>
          <ion-card-content text-center>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <p class="content">{{ dapp.appDescription }}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <p class="authorName">
                    Created by <br> 
                    <strong>{{ dapp.authorName }}</strong>
                  </p>
                </ion-col>
                <ion-col size="6">
                  <p class="authorWebsite">
                    Visit us @ <br> 
                    <a href="{{ dapp.authorWebsite }}">
                      <strong>{{ dapp.authorWebsite }}</strong>
                    </a>
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  
  </ion-grid>
</ion-content>
  