  <ion-menu side="start" menuId='m1'> <!-- m1 is extracted to pages that need this side drawer -->
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Trinity Bar
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/store/tabs/dapps"> 
            <ion-icon name="appstore"></ion-icon>
            <ion-label padding>DApp Explorer</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/my-apps" disabled> <!-- disabled till future updates -->
            <ion-icon name="cloud-download"></ion-icon>
            <ion-label padding>My DApps</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/about"> 
            <ion-icon name="contacts"></ion-icon>
            <ion-label padding>About</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <router-outlet main></router-outlet>