<ion-app>

  <ion-menu side="end" menuId='m1'> <!-- m1 is extracted to pages that need this side drawer -->
    <ion-header>
      <ion-toolbar>
        <ion-title>
          elastOS App Store
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list padding-start>
        <ion-menu-toggle>
          <ion-item routerLink="/store/tabs/dapps">
            <ion-icon name="apps"></ion-icon>
            <ion-label padding>Discover</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/my-apps">
            <ion-icon mode="ios" name="download"></ion-icon>
            <ion-label padding>My DApps</ion-label>
          </ion-item>
        </ion-menu-toggle>
     <!--    <ion-menu-toggle>
          <ion-item routerLink="/about" disabled>
            <ion-icon name="contacts"></ion-icon>
            <ion-label padding>About</ion-label>
          </ion-item>
        </ion-menu-toggle> -->
        <ion-menu-toggle>
          <ion-item (click)="closeApp()">
            <ion-icon name="exit"></ion-icon>
            <ion-label padding>Exit</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet> <!-- main given to main mages -->

</ion-app>

