// ** Header ** //
ion-header {

  ion-label {
    margin: 16px 0 12px;
    font-size: 13px;
    color: #959595;
  }

  .highlight {
    color: #007AFF !important;
  }
}

// ** Search Container ** //
.search-container {
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  background: #FAFAFA;
  padding: 12px 0;

  ion-searchbar {
    width: 80%;
    padding: 0;
    margin: 0;
  }
}

// ** Content ** //
ion-list {
  background: #FAFAFA;
  min-height: 100%;
  padding: 0;

  .section {

    .section-title {
      p {
        margin: 12px 0;
        font-size: 18px;
        font-weight: 700;
      }
    }

    .section-btn {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin: 12px 0;
        font-size: 13px !important;
        color: #007AFF !important;
        font-weight: 600;
      }
    }

    .first-section {
      margin: 0 0 12px !important;
    }
  }

  ion-item {
    --inner-padding-end: 0px;
    --padding-start: 0px;
    border-bottom: 1px solid rgb(230, 230, 230);

    ion-row {
      padding: 5px 0;

      .img-container {
        display: flex;
        justify-content: flex-end;

        ion-thumbnail {
          border-radius: 15px !important;
          border: solid 1px black;

          ion-img {
            border-radius: 15px;
          }
        }
      }

      .node-content {
        display: flex;
        align-items: center;

          h2 {
            font-size: 16px;
            font-weight: 500;
            margin: 0;
          }

          p {
            font-size: 10px !important;
            color: #959595;
            margin: 0;
          }
      }

      .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;

        ion-button {
          --border-radius: 30px;
          --box-shadow: none;

          ion-label {
            font-size: 9px;
            font-weight: 600;
            padding: 0;
          }
        }
      }
    }
  }

  ion-spinner {
    color: #007AFF;
  }
}

