/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;
  src: url('assets/fonts/Raleway-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  src: url('assets/fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: normal;
  src: url('assets/fonts/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: url('assets/fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  font-style: normal;
  src: url('assets/fonts/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 900;
  font-style: normal;
  src: url('assets/fonts/Raleway-Black.ttf') format('truetype');
}

:root {
  ion-tab-button.tab-selected {
    ion-icon, ion-label {
      color: var(--ion-color-primary) !important;
      --ion-color-base: var(--ion-color-primary) !important;
    }
  }
}

* {
  font-family: 'Raleway' !important;
}

// ** Header ** //
ion-header {

  ion-toolbar {
    margin-top: 20px;

    .header-btns {
      font-size: 24px;
      padding: 16px;
    }

    ion-title {
      font-size: 23px;
      font-weight: 700;
    }
  }
}

// ** Search Container ** //
.search-container {
/*   position: sticky;
  top: 0px;
  z-index: 1; */
  display: flex;
  justify-content: center;
  background: #FAFAFA;
  padding: 12px 0;

  ion-searchbar {
    width: 80%;
    padding: 0;
    margin: 0;

    .searchbar-input-container{

      .searchbar-input {
          border-radius: 30px !important;
      }
    }
  }
}

// ** Content ** //
ion-list {
  background: #FAFAFA;
  min-height: 100%;
  padding: 0;

  ion-item {
    --inner-padding-end: 0px;
    --padding-start: 0px;
    border-bottom: 1px solid rgb(230, 230, 230);

    ion-row {
      padding: 5px 0;

      .img-container {
        display: flex;
        justify-content: flex-end;

        img-loader {
          border-radius: 15px !important;
          overflow: hidden;
          height: 48px;
          width: 48px;
        }
      }

      .node-content {
        display: flex;
        align-items: center;

          h2 {
            font-size: 16px;
            font-weight: 600;
            margin: 0;
          }

          p {
            font-size: 9px !important;
            font-weight: 500;
            color: #959595;
            margin: 0;
          }
      }

      .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;

        ion-button {
          --border-radius: 30px;
          --box-shadow: none;

          ion-label {
            font-size: 9px;
            font-weight: 700;
            padding: 0;
          }
        }
      }
    }
  }

  ion-spinner {
    color: #007AFF;
  }

  .no-results {
    font-weight: 500;
  }
}
