<ion-content class="ion-no-padding">
  <ion-grid class="ion-padding">

    <!-- Card 1 -->
    <ion-card class="welcome-card ion-padding-vertical">
      <img-loader useImg class="card-img"><img src="/../../../assets/images/card2.svg"></img-loader>
      <ion-card-header>
        <ion-card-subtitle>{{ 'welcome' | translate }}</ion-card-subtitle>
        <ion-card-title>elastOS <br>{{ 'capsule-store' | translate }}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Card 2 -->
    <ion-card class="showcase-card ion-activatable ripple">
      <img-loader src="/../../../assets/images/card.png" useImg></img-loader>
      <ion-card-header>
        <ion-card-title>{{ 'capsule' | translate }} <br>{{ 'showcase' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-row class="showcase-app" *ngIf="showcaseDapp" [routerLink]="['/', 'store', 'tabs', 'dapps', showcaseDapp._id]">
        <ion-col size="2.5" class="img-container">
          <img *ngIf="!dappsService.getAppIcon(showcaseDapp)" src="assets/images/card2.svg">
          <img *ngIf="dappsService.getAppIcon(showcaseDapp)" [src]="dappsService.getAppIcon(showcaseDapp)">
        </ion-col>
        <ion-col size="9.5" class="dapp-content ion-align-items-center">
          <ion-label>
            <h2>{{ showcaseDapp.appName }}</h2>
            <p>{{ showcaseDapp.appShortDescription }}</p>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-card>

    <!-- Card 3 -->
    <ion-card class="apps-card">
      <ion-row class="app-header ion-padding ion-activatable ripple" [class.removeBorder]="!appsLoaded">
        <ion-col size="9" class="section-title"><p>{{ 'new-releases' | translate }}</p></ion-col>
        <ion-col size="3" class="section-btn">
          <p [routerLink]="['/', 'store', 'tabs', 'categories', 'new']"> {{ 'see-all' | translate }}</p>
        </ion-col>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-row>
      <ion-card-title class="ion-text-center ion-padding" *ngIf="!appsLoaded">
        <ion-spinner name="bubbles" color="primary"></ion-spinner>
      </ion-card-title>
      <div *ngIf="appsLoaded">
        <ion-item
          *ngFor="let app of getApps().slice(0, 3)"
          [class.removeBorder]="app === getApps()[2]"
          lines="none"
        >
          <ion-grid class="ion-no-padding ion-activatable ripple">
            <ion-row>
              <ion-col
                size="2.25"
                size-lg="2.25"
                class="img-container"
                [routerLink]="['/', 'store', 'tabs', 'dapps', app._id]"
              >
                <img *ngIf="!getAppIcon(app)" src="assets/images/card2.svg">
                <img *ngIf="getAppIcon(app)" [src]="getAppIcon(app)">
              </ion-col>
              <ion-col
                size="6"
                size-xs="6"
                class="node-content"
                [routerLink]="['/', 'store', 'tabs', 'dapps', app._id]"
              >
                <ion-label>
                  <h2>{{ app.appName }}</h2>
                  <p>{{ app.appShortDescription }}</p>
                </ion-label>
              </ion-col>
              <ion-col size="3.75" size-xs="3.75" class="btn-container">
                <ion-button  color="tertiary" (click)="dappsService.startApp(app)">
                  <ion-label>{{ dappsService.getDisplayableButton(app) }}</ion-label>
                </ion-button>
                <ion-button color="tertiary" *ngIf="false">
                  <ion-label>
                    <ion-spinner name="dots"></ion-spinner>
                  </ion-label>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-grid>
        </ion-item>
      </div>
    </ion-card>

    <!-- Card 4 -->
    <ion-card class="cat-card">
      <ion-row class="cat-header ion-padding ion-activatable ripple">
        <ion-col size="9" class="section-title"><p>{{ 'top-cats' | translate }}</p></ion-col>
        <ion-col size="3" class="section-btn">
          <p [routerLink]="['/', 'store', 'tabs', 'categories']"> {{ 'see-all' | translate }}</p>
        </ion-col>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-row>
      <ion-card-title class="ion-text-center ion-padding" *ngIf="!appsLoaded">
        <ion-spinner name="bubbles" color="primary"></ion-spinner>
      </ion-card-title>
      <div *ngIf="appsLoaded">
        <ion-row
          class="category-item "
          *ngFor="let category of getTopCats().slice(0,3)"
          [routerLink]="['/', 'store', 'tabs', 'categories', category.name]"
        >
          <ion-col size="1.75" class="box-container">
            <ion-icon name="wallet" mode="ios"></ion-icon>
          </ion-col>
          <ion-col size="10.25" class="category">
            <ion-label>{{ category.name | translate }}</ion-label>
          </ion-col>
        </ion-row>
      </div>
    </ion-card>

  </ion-grid>
</ion-content>
